@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
a {
  font-family: Jost;
}

.primary-subitle {
  font-size: 16px;
  line-height: 24px;
  font-family: "Jost";
}
/* Dropdown */
.desktop-menu {
  display: flex;
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropBtn {
  text-transform: capitalize;
  color: black;
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 140%;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  font-size: 16px;
  top: 46px;
  z-index: 1;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

/* on hover show dropdown */
.dropdown:hover .drop-content {
  display: block;
}

/* drondown links */
.drop-content a {
  font-size: 14px;
  line-height: 20px;
  color: black;
  padding: 12px 10px;
  border-bottom: 1px solid rgb(222, 222, 248);
  display: block;
  transition: all 0.2s ease !important;
  text-decoration: none;
}
.drop-content a:hover {
  border-left: 4px solid #000;
  background-color: #f9f9f9;
  font-weight: 600;
}

.drop-content a:active {
  background-color: #e9ecef;
}
/* Dorpdown */

/* Home discount */
.discount-sign {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  float: right;
  width: 336px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 100px 0px 0px 100px;
  background: #000;
  color: #fff;
}
/* Home discount */

/* Slick slider */

/* the slides */
.slick-slide {
  margin: 0 20px !important;
}

/* the parent */
.slick-list {
  margin: 0 -20px;
}

.wrapper {
  overflow-x: hidden;
}

.brand-wrapper {
  overflow-x: hidden;
  background: #eaf2ee;
}

.review-wrapper {
  overflow: hidden;
}

.feedback-wrapper {
  overflow-x: hidden;
}

.quickView-wrapper {
  overflow-x: hidden;
}

.support-wrapper {
  overflow-x: hidden;
}

.slick-initialized .slick-slide {
  background-color: transparent;
  color: #fff;
  margin: 0 15px 0 0;
}

.slick-next,
.slick-prev {
  z-index: 5;
  width: auto !important;
  height: auto !important;
}
.wrapper .slick-next {
  right: 35px;
  top: 36%;
}
.wrapper .slick-prev {
  left: 35px;
  top: 36%;
}

.feedback-wrapper .slick-next {
  right: 80px;
  top: 60%;
}
.feedback-wrapper .slick-prev {
  left: 80px;
  top: 60%;
}

.quickView-wrapper .slick-next {
  right: 30px;
}
.quickView-wrapper .slick-prev {
  left: 30px;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome;
}

.slick-prev:before {
  content: "\f053";
  font-size: 12px;
  padding: 12px 14px;
  border-radius: 100%;
  background: black;
}
[dir="rtl"] .slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
  font-size: 12px;
  padding: 12px 14px;
  border-radius: 100%;
  background: black;
}
[dir="rtl"] .slick-next:before {
  content: "\f054";
}
/* Slick slider */

/* Review slider */
.review-slider .slick-dots {
  margin: -50px 0;
}
/* Review slider */

/* Select2 */
.select2-container--default .select2-results__option--highlighted {
  background-color: #dce9ff !important;
}
/* Select2 */

/* Form */
.search-btn {
  border: 1px solid #767676;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  margin: 0 auto;
  padding: 15px;
}

.signin-inputField {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #8c9196;
  outline: none;
}
/* Form */

/* Login bg */
.login-bg {
  background-image: none;
}
/* Login bg */

/* create account bg */
.createAccount-bg {
  background-image: none;
}
/* create account bg */

/* Women fashion slider */
.hero-slider .slick-dots {
  bottom: 20px;
}

.feedback-slider .slick-dots {
  bottom: -38px;
}

.feedback-slider .slick-prev:before {
  content: "\f053";
  font-size: 12px;
  padding: 12px 14px;
  border-radius: 100%;
  background: white;
  border: 1px solid black;
  color: black;
}

.feedback-slider .slick-next:before {
  content: "\f054";
  font-size: 12px;
  padding: 12px 14px;
  border-radius: 100%;
  background: black;
  border: 1px solid black;
}

.support-slider .slick-slide {
  display: flex;
}
/* Women fashion slider */

/* FAQ section */
.faq-item {
  box-shadow: 0px 4px 10px -4px rgba(23, 24, 24, 0.12),
    0px 3px 6px -3px rgba(23, 24, 24, 0.08);
}

.faq-open {
  box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12),
    0px 3px 6px -3px rgba(23, 24, 24, 0.08);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.faq-open .faq-answer {
  max-height: 1000px; /* Adjust this value to your preference */
  transition: max-height 0.3s ease-in-out;
}
.rotate-icon {
  transition: transform 0.3s ease-in-out;
}
.faq-open .rotate-icon {
  transform: rotate(180deg);
}

.faq-open .rotate-cancel {
  transform: rotate(137deg);
}

.form-radio {
  accent-color: #201d1d;
}

.checkout-shipping {
  accent-color: #008060;
}

/* FAQ section */

/* Price range slider */
.priceRange .noUi-base {
  background: #8c9196;
}

.priceRange.noUi-horizontal {
  height: 5px;
}

.priceRange.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  right: -8px;
  top: -8px;
}

.priceRange .noUi-handle {
  border: 1px solid #202223;
  border-radius: 100%;
  background: #202223;
  box-shadow: none;
}

.priceRange .noUi-handle:before,
.noUi-handle:after {
  background: none;
}
/* Price range slider */

/* Account tab features */
.tab-container {
  box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12),
    0px 3px 6px -3px rgba(23, 24, 24, 0.08);
  background-color: #f6f6f7;
}
.tab-button {
  color: #000; /* Text color is black by default */
  padding: 30px 20px;
  cursor: pointer;
  text-align: left;
}

.tab-button.active {
  background-color: white;
}

.tab-button.active .tab-account-text {
  color: #202223;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
/* Account tab features */

/* product details feature dropdown */
.feature-drop-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  font-size: 16px;
  top: 40px;
  z-index: 1;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* on hover show dropdown */
.dropdown:hover .feature-drop-content {
  display: block;
}

/* drondown links */
.feature-drop-content a {
  font-size: 14px;
  line-height: 20px;
  color: black;
  padding: 10px 20px;
  display: block;
  transition: all 0.2s ease !important;
  text-decoration: none;
}
/* .feature-drop-content a:hover {
  border-bottom: 1px solid black;
} */
.feature-item span:hover {
  border-bottom: 1px solid black;
}

.feature-drop-content a:active {
  background-color: #e9ecef;
}
/* product details feature dropdown */

/* Product details tab */
.product-tab-button {
  color: #6d7175; /* Text color is black by default */
  cursor: pointer;
  text-align: left;
}

.product-tab-button.active {
  border-bottom: 2px solid #202223;
  color: #202223;
}
/* product details tab */

/* Mobile product details slider */
.product-review-slider .slick-next {
  right: 15px;
}

.product-review-slider .slick-prev {
  left: 15px;
}

.product-review-wrapper {
  overflow-x: hidden;
}
/* Mobile product details slider */

/* New version home page*/

/* Header*/
.header-secondary {
  font-size: 24px;
  font-family: "Jost";
  position: relative;
  display: inline-block;
}

.header-secondary::before {
  content: "";
  background: #eaf2ee;
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: 0px;
  z-index: -2;
}
/* Header*/

/* Offer*/
.women-offer {
  position: relative;
  z-index: 111;
  background-image: url("{{'offer-mobile-bg.png'| asset_url}}");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
}
.offer-left-style {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Offer*/

/* Subscribe popup */
.subscribe-header {
  font-size: 30px;
  color: #202223;
  line-height: 62px;
  font-family: "Jost";
  text-transform: uppercase;
}
/* Subscribe popup */

/* Quick view popup */
.quick-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modal-content {
  height: 80%;
  width: 1200px;
  padding: 20px;
  border-radius: 5px;
}

.home-modal-content {
  height: 100%;
  width: 1200px;
  padding: 20px;
  border-radius: 5px;
}
/* Quick view popup */

/* search engine modal */
#searchElement {
  display: none;
  padding: 10px;
}
/* search engine modal */

/* New address modal */
#addressModal {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
/* New address modal */

/* Mega menu */
.mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

/* #hoverable Class Styles */
.hoverable {
  position: static;
}

.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

/* Mega menu */

/* Mobile Design */

/* Mobile nav menu */
#showButton {
  padding: 10px;
  font-size: 16px;
}

#navList {
  width: 101%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition for transform and opacity properties */
}

#closeButton {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}
/* Mobile nav menu */

/* Product details review mobile */
.sort-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  font-size: 16px;
  top: 40px;
  z-index: 1;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .sort-content {
  display: block;
}

.sort-content a {
  font-size: 14px;
  line-height: 20px;
  color: black;
  padding: 12px 10px;
  border-bottom: 1px solid rgb(222, 222, 248);
  display: block;
  transition: all 0.2s ease !important;
  text-decoration: none;
}

.sort-content a:hover {
  background-color: #f9f9f9;
  font-weight: 600;
}

.sort-content a:active {
  background-color: #e9ecef;
}

#filterContent {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  padding: 20px;
  background-color: white;
}
/* Product details review mobile */

/* Product details mobile filter slidernav */
#overlay {
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 99999999;
  transition: 0.3s linear;
}

#overlay.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#filter {
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s linear;
}

.line {
  width: 22px;
  margin-bottom: 5px;
  height: 2px;
  background-color: white;
}

.line:last-child {
  margin-bottom: 0;
}

.filterClose.active {
  display: none;
}

#nav {
  height: 100vh;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: white;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  margin-left: 0;
  z-index: 999999999;
}

#nav.active {
  transform: translateX(0);
}

.filter-sidebar {
  list-style: none;
  text-align: center;
  width: 100%;
}
/* Product details mobile filter slidernav */

/* Product details mobile slidernav accordion */
.accordion {
  max-width: 420px;
  text-align: left;
}

article {
  color: black;
  padding-bottom: 24px;
}

.article-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: fixed;
  top: -100vh;
  left: -100vh;
}
input[type="radio"] ~ div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
input[type="radio"]:checked ~ div {
  max-height: 200px;
}
/* Product details mobile slidernav accordion */

/* Home slider */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.home-slider .slick-dots {
  position: absolute;
  bottom: 25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.home-slider .slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.home-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.home-slider .slick-dots li button:hover,
.home-slider .slick-dots li button:focus {
  outline: none;
}
.home-slider .slick-dots li button:hover:before,
.home-slider .slick-dots li button:focus:before {
  opacity: 1;
}
.home-slider .slick-dots li button:before {
  font-family: "slick";
  font-size: 60px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "-";
  text-align: center;

  opacity: 1;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}
/* Home slider */

@media only screen and (min-width: 992px) {
  /* Subscribe popup */
  .subscribe-header {
    font-size: 52px;
    color: #202223;
    line-height: 62px;
    font-family: "Jost";
    text-transform: uppercase;
  }
  /* Subscribe popup */

  /* Login bg */
  .login-bg {
    background-image: url("{{'login-bg.jpg'| asset_url}}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  /* Login bg */

  /* Create account bg */
  .createAccount-bg {
    background-image: url("{{'create-account-bg.jpg'| asset_url }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Create account bg */

  /* Women fashion slider */
  .hero-slider .slick-dots {
    margin: -35px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 100px;
  }

  .hero-slider .slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 5px 5px;
    padding: 0;

    cursor: pointer;
  }

  .hero-slider .slick-dots li button:before {
    font-size: 8px;
  }

  .hero-slider .slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .hero-slider .slick-dots li button:hover,
  .hero-slider .slick-dots li button:focus {
    outline: none;
  }
  .hero-slider .slick-dots li button:hover:before,
  .hero-slider .slick-dots li button:focus:before {
    opacity: 1;
  }

  .hero-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
    border: 1px solid black;
    border-radius: 100%;
  }
  /* Women fashion slider */

  /* Header  */
  .header-secondary {
    font-size: 42px;
  }

  .header-secondary::before {
    content: "";
    background: #eaf2ee;
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: 0px;
    z-index: -2;
  }
  /* Header  */

  /* Offer*/
  .women-offer {
    position: relative;
    z-index: 111;
    background-image: url("{{ 'offer-bg.png' | asset_url }}");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;
  }
  /* Offer*/
}

.hoverImage {
  position: relative;
  align-self: stretch;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.hoverImageWrapper:hover .hoverImage {
  transform: scale(1.2);
}
