<div class="brand-wrapper py-8 lg:my-24 my-14">
  <div class="brand-slider">
    {%- for block in section.blocks -%}
      {{ block.settings.image 
 | image_url: width: 10 
 | image_tag: fetchpriority: fetch_priority, style: "width: 50px; height: auto; mx-auto; "
      }}
    {%- endfor -%}

  </div>
</div>
{% schema %}
  {
    "name": "brand-carousel",
    "settings": [],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.slideshow.blocks.slide.name",
        "limit": 50,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.slideshow.blocks.slide.settings.image.label"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "brand-carousel"
      }
    ]
  }
{% endschema %}