<div class="container max-w-7xl m-auto px-4">
    <div class="lg:flex hidden justify-end">
        <div class="discount-sign">
          <i class="fa-solid fa-star-of-life px-[25px]"></i>
          <a href="sign-in.html" class="no-underline">Sign in: get 20% off</a>
        </div>
      </div>
</div>

{% schema %}
  {
    "name": "discount-sign",
    "settings": [],
    "presets": [
      {
        "name": "discount-sign"
      }
    ]
  }
{% endschema %}