<div class="container max-w-7xl m-auto px-4">
    <div class="container max-w-7xl m-auto">
        <div class="bg-[#EAF2EE] py-12 px-2">
          <header class="text-center mb-14">
            <h2 class="text-[24px] leading-[32px]">Enjoy a <span class="font-semibold">$25*</span> discount on <br> your
              inaugural purchase!</h2>
          </header>
          <div class="flex justify-center">
            <input
              class="w-[400px] border-b border-gray-400 focus:border-blue-500 outline-none bg-transparent mr-4 text-[16px]"
              type="text" placeholder="Email address">
            <button class="border-b border-gray-400 text-[16px] leading-[16px]">Subscribe</button>
          </div>
        </div>
      </div>
</div>

{% schema %}
{
    "name": "newsletter",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "newsletter"
            }
        ]
}
{% endschema %}