<div class="container max-w-7xl m-auto px-4">
    <div class="grid lg:grid-cols-3 gap-x-3 place-items-center">
        <figure class="relative">
          <img src="{{'discount1.png'|asset_url}}" alt="">
          <div class="absolute top-[35%] left-[10%]">
            <h6 class="uppercase text-[14px] text-[#1E1C1C] font-light">men’s accessories</h6>
            <p class="text-[24px] text-[#1E1C1C] font-medium mb-3">Flat 40% Off</p>
            <a class="uppercase border-b-[1px] border-black text-[14px]" href="">Shop now</a>
          </div>
        </figure>

        <figure class="relative">
          <img src="{{'discount2.png'|asset_url}}" alt="">
          <div class="absolute top-[35%] left-[10%]">
            <h6 class="uppercase text-[14px] text-[#1E1C1C] font-light">men’s accessories</h6>
            <p class="text-[24px] text-[#1E1C1C] font-medium mb-3">Flat 35% Off</p>
            <a class="uppercase border-b-[1px] border-black text-[14px]" href="">Shop now</a>
          </div>
        </figure>

        <figure class="relative">
          <img src="{{'discount3.png'|asset_url}}" alt="">
          <div class="absolute top-[35%] left-[10%]">
            <h6 class="uppercase text-[14px] text-[#1E1C1C] font-light">men’s accessories</h6>
            <p class="text-[24px] text-[#1E1C1C] font-medium mb-3">Flat 20% Off</p>
            <a class="uppercase border-b-[1px] border-black text-[14px]" href="">Shop now</a>
          </div>
        </figure>
      </div>
</div>

{% schema %}
{
    "name": "product-accessories",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "product-accessories"
            }
        ]
}
{% endschema %}